* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


.card {
  box-shadow: #fe865a;
}
.ctm-bg {
  background-color: #67d5f1;
  padding: 70px 20px 70px 20px;
}
.homebanner {
  background-image: url(../src/Assets/hero-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0px 110px 0px;
}

.shoping-inner {
  box-shadow: 10px 10px #f3c216;
}
.shoping-outer {
  position: relative;
}

.shoping-inner {
  position: absolute;
  left: -200px;
  top: 0px;
}

.smallBanner {
  background-image: url(../src/Assets/smallBanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px;
  border-radius: 10px;
}

.aboutus {
  background-image: url(../src/Assets/smallBanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px;
  border-radius: 10px;
}

.product {
  background-image: url(../src/Assets/Product.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px;
  border-radius: 10px;
}

.blog {
  background-image: url(../src/Assets/blog.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px;
  border-radius: 10px;
}

.contact {
  background-image: url(../src/Assets/blog.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px;
  border-radius: 10px;
}

.blogs-card {
  background-image: url(../src/Assets/blog-card.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 0px;
  border-radius: 10px;
}

.contacts {
  background-color: #fe865a;
  border-radius: 20px;
}

.ctm-slider {
  background-color: #fe865a;
  padding: 100px 50px;
}

.circal {
  background-image: url(../src/Assets/circle.png);
  background-repeat: no-repeat;
  padding: 50px 0px;
  background-size: contain;
  background-position: right;
}

.ctm-term {
  list-style: decimal !important;
}

.ctm-term li {
  padding: 10px 0px;
  font-size: 17px;
}

.ctm-term-text {
  font-size: 20px;
}


.hero-text{
  font-family: "Prompt", sans-serif !important;
}

 .about-bg{
  background-image: url(../src/Assets/about-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px 0px;
  /* background-position: center; */
  /* padding: 20px 0px 110px 0px; */

} 




