@media (min-width: 320px) and (max-width: 766px) {
  .text-end {
    display: none;
  }

  .ctm-shop {
    display: none;
  }
  .homebanner {
    padding: 10px 0px 30px 0px;
  }
  .shoping-outer {
    display: none;
  }

  .row.align-items-center.ctm-shop {
    display: none;
  }
}

@media screen and (min-width: 1441px) {
  
  .card-slider .ctm-card  {
    height: 100% ;
  }
}



@media screen and (max-width: 1440px) {
  
  .card-slider .ctm-card  {
    height: 100% ;
  }
}


@media screen and (min-width: 1400px) {
  
  .shoping-inner {
    position: absolute;
    left: -200px;
    top: 140px;
  }
}

